NODE_ENV=development
CLOUDFLARE_ACCOUNT_ID=
CLOUDFLARE_DATABASE_ID=
PUBLIC_API_URL=http://localhost:3000

SECRET_SMTP_HOST=localhost
SECRET_SMTP_PORT=1025
SECRET_SMTP_USER=
SECRET_SMTP_PASS=
SECRET_SMTP_FROM=Adoptier Lieber <dev@localhost>
SECRET_CONTACT_TO=
